@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&display=swap');

*{
    margin: 0;padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    text-transform: capitalize;
    font-family: "Poppins",sans-serif;
    transition: all .3s linear;
    scroll-behavior: smooth;
}

:root{
    --main-clr-- : rgb(171, 35, 255);
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    overflow-x: hidden;
    padding-right: 5rem;
}

::-webkit-scrollbar{
    width: .7rem;
}

::-webkit-scrollbar-track{
    background: #fff;
}

::-webkit-scrollbar-thumb{
    background: var(--main-clr--);
}

header{
    min-height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
    text-align: center;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    z-index: 1000;
    background-color: #fff;
}

header .nav{
    writing-mode: vertical-lr;
    padding: 1.5rem;
}

header .nav a{
    font-size: 1.7rem;
    padding: 1.5rem;
    color: #333;
}

header .nav a:hover{
    color: var(--main-clr--);
}

.fa-bars{
    margin-top: 1rem;
    position: fixed;
    top: 1rem;
    left: 1rem;
    font-size: 3rem;
    padding: 1rem;
    color: white;
    border-radius: .5rem;
    background-color: var(--main-clr--);
    display: none;
}

section{
    min-height: 100vh;
    padding: 2rem 9%;
}

.home{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home::before{
    position: absolute;
    content: "";
    top: 0;left: 0;
    width: 100%;
    height: 100%;
}

.home #particles-js{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.about{
    background-color: red;
}

.home .content{
    position: relative;
    text-align: center;
    z-index: 1;
}

.home .content img{
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    border: 1rem solid var(--main-clr--);
    object-fit: cover;
    object-position: center;
    margin-bottom: 2rem;
}

.home .content .info{
    padding: 1rem;
    text-align: center;
}

.home .content .info .name{
    color: var(--main-clr--);
    font-size: 3rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.home .content .info p{
    font-size: 2.5rem;
    font-weight: normal;
    letter-spacing: .1rem;
    margin-bottom: 2rem;
}

.home .content .info .btn{
    padding: 1rem 1.5rem;
    background-color: #333;
    border-radius: .2rem;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.5rem;
    cursor: pointer;
    user-select: none;
}

.home .content .info .btn:hover{
    letter-spacing: .1rem;
    background-color: var(--main-clr--);
}



/* Media Query Section */

@media (max-width : 1300px) {
    
}



@media (max-width : 991px) {
    body{
        padding-right: 0;
    }

    html{
        font-size: 55%;
    }

    .fa-bars{
        display: initial;
    }

    header{
        width: 100%;
        height: 100%;
        left: -128rem;
        top: 0;
        background-color: #fff;
    }

    .active{
        left: 0;
    }

    header .nav{
        writing-mode: horizontal-tb;
    }

    header .nav a{
        display: block;
        padding: 1rem;
        font-size: 3rem;
    }
}


@media (max-width : 768px) {
    html{
        font-size: 50%;
    }
}